# Development, documentation & testing requirements.
black; python_version >= '3.6'
check-manifest
coverage
coveralls
jarn.viewdoc
olefile
pycodestyle
pyflakes
pyroma<=2.6.1
pytest
pytest-cov
sphinx-rtd-theme
